@import url("https://fonts.googleapis.com/css2?family=Wendy+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import "tailwindcss";

@layer components {
  .text-outline {
    text-shadow:
      -2px -2px 0 black,
      2px -2px 0 black,
      -2px 2px 0 black,
      2px 2px 0 black;
  }

  .text-base,
  p {
    @apply font-normal text-neutral-300;
    font-family: "Fredoka", sans-serif;
  }

  .text-emphasis {
    @apply text-neutral-400 text-xl;
    font-family: "Sigmar", sans-serif;
  }

  .boss-name {
    @apply text-4xl text-white font-black uppercase;
    font-family: "Wendy One", sans-serif;
  }

  .card {
    @apply bg-white shadow-md rounded-lg p-1;
  }
  .border-card {
    @apply border-stone-700 border-2 rounded-lg p-1;
  }
  .name-pokemon {
    @apply text-center capitalize text-white;
    font-family: "Sigmar", sans-serif;
  }

  .btn-primary {
    @apply bg-red-900 p-4 w-50 rounded-2xl font-bold text-center hover:bg-red-700;
  }
  .btn-secondary {
    @apply bg-neutral-700 p-4 w-50 rounded-2xl font-bold text-center hover:bg-neutral-600;
  }
}
