@import "tailwindcss";

@theme {
  --font-family-base: "roboto", sans-serif;
  --font-family-primary: "Sigmar", sans-serif;
  --font-family-secondary: "Wendy One", sans-serif;
}

@layer components {
  .card {
    @apply bg-white shadow-md rounded-lg p-1;
  }
  .border-card {
    @apply border-stone-700 border-2 rounded-lg p-1;
  }
}
